.rightSide {
  position: relative;

  &__box {
    height: 100vh;
    width: 30%;
    position: fixed;

    &__whoToAddBox {
      padding: 20px 0;
      border-radius: 15px;
      margin: 20px 60px 30px 20px;

    .whoToAdd{
      &__title{
        h2{
          padding: 0 15px 10px;
        }
      }

      &__usersBox{
        &__user{
          padding: 10px 15px;
        }
      }
    }
    }
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .rightSide__box {
    width: 0;
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 991px) {
  /* For tablet: */
  .rightSide__box {
    width: 10%;

    &__whoToAddBox{
        display: none;
    }

    .joinTwirrer{
      display: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  /* For small lab: */
  .rightSide__box { 
    width: 40%;
  }
}
