@import "../../style/CssVariables.scss";

.userProfile__main__userDetails__userData__friends {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
  }
}

.friendsBox {
  &__friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__leftSide {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100% - 155px);

      &__userImageBox {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__userName {
        width: calc(100% - 60px);
        overflow: hidden;

        a {
          font-size: 15px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 5px;
          display: block;
        }

        p {
          font-size: 15px;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          margin-right: 5px;
          margin-top: -5px;
        }
      }
    }
  }
}

/* Modal edit */
.friends__main__modal {
  padding-left: 0 !important;
  .modal-content {
    border: 0;
    background: transparent;
    min-height: 500px;

    .modal-body {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 0 !important;
      min-height: 200px;
      padding-bottom: 20px !important;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: flex-end;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;

    .left {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &__iconBox {
      position: relative;
      margin-right: 25px;

      &:hover > &__background {
        display: block;
      }

      &:hover {
        color: $mainColor;
        cursor: pointer;
      }

      &__background {
        position: absolute;
        top: -3px;
        left: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: none;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 0;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__saveButton {
      font-size: 14px;
      font-weight: bold;
      height: 28px;
      padding: 0 14px;

      &:focus {
        outline: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  // mobile screen
  .modal-dialog {
    margin: 0 !important;

    .modal-content {
      min-height: 100vh;

      .friends__main__modal__header {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
      .modal-body {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
