@import "../../style/CssVariables.scss";

.joinTwirrer {
  &__box {
    padding: 20px;
    border-radius: 15px;
    margin: 30px 60px 30px 20px;

    &__imageBox {
      width: 100%;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__body {
      &__Title {
        margin: 20px 0;
        text-align: center;

        h2 {
          font-size: 23px;
          font-weight: 800;
        }

        p {
            font-size: 13px;
          margin: 0;
        }
      }

      &__buttons {
        div {
          width: 100% !important;
          height: auto !important;
          padding: 7px 0 !important;
          box-sizing: border-box;
          border-radius: $radius;
        }
        .signupButton {
          margin-bottom: 20px;
        }
      }
    }
  }
}
