//global vars
$radius: 9999px;
$mainColor:#1DA1F2;
$secondaryColor: rgba(29, 161, 242, 0.1);
$secondaryHoverColorDark: #172430;
$secondaryHoverColorLight: #F5F8FA;
$red: #E0245E;
$love: #E0245E;
$darkBackground : #15202B;

// to use in js file
:export {
  radius: $radius;
}
