@import "../../style/CssVariables.scss";

.__react_modal_image__header {
  background-color: transparent !important;
}

.__react_modal_image__modal_container {
  background-color: rgba(110, 118, 125, 0.4) !important;
}

.__react_modal_image__icon_menu svg {
  background: $darkBackground;
  padding: 3px;
  border-radius: 50%;
}
