@import "../../style/CssVariables.scss";

.userProfile__main {
  height: auto;
  width: 45%;
  margin-left: 25%;
  overflow: auto;
  height: auto;

  // page header
  &__title {
    padding: 5px 10px;
    height: 53px;
    position: fixed;
    width: 45%;
    z-index: 100;
    display: flex;
    flex-direction: row;

    &__iconBox {
      position: relative;
      margin: 11px 32px 0 10px;

      &:hover > &__background {
        display: block;
      }

      &:hover {
        color: $mainColor;
        cursor: pointer;
      }

      &__background {
        position: absolute;
        top: -3px;
        left: -8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: none;
      }
    }

    &__textBox {
      width: 100%;
      overflow: hidden;
      h2 {
        font-size: 19px;
        font-weight: 800;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 13px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // user data
  &__userDetails {
    margin-top: 53px;
    margin-bottom: 80px;

    // cover image
    &__headerImageBox {
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      max-height: 200px;

      &__image {
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    // rest user data
    &__userData {
      position: relative;
      padding: 10px;

      // user profile image line
      &__pp {
        position: absolute;
        top: -50px;

        &__userImageBox {
          width: 134px;
          height: 134px;
          overflow: hidden;
          border-radius: 50%;
          box-sizing: content-box;

          > div:first-child {
            height: 100%;
          }

          &__userImage {
            /* user image it self */
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          /* make user image rounder also in modal full view
          .__react_modal_image__modal_content img,
          .__react_modal_image__modal_content svg {
            border-radius: 50% !important;
          }*/
        }
      }

      // main button
      &__buttonBox {
        display: flex;
        justify-content: flex-end;
        height: 50px;
      }

      // userName
      &__userName {
        margin-top: 30px;
        margin-bottom: 10px;
        h2 {
          font-size: 19px;
          font-weight: 800;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      // bio
      &__bio {
        margin-bottom: 10px;
        p {
          font-size: 15px;
          margin: 0;
        }
      }

      //extra data
      &__extraData {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;

        div {
          margin-right: 15px;
          font-size: 15px;
          word-break: break-all;

          i {
            font-size: 16px;
            margin-right: 5px;
          }

          a {
            &:hover {
              color: #007bff;
            }
          }
        }
      }

      // friend counter
      &__friends {
        margin-bottom: 10px;
        font-size: 15px;
        display: inline-block;

        &__number {
          font-weight: bold;
        }
      }
    }

    &__posts {
      /* start no posts box*/
      .posts__empty {
        text-align: center;
        padding: 30px 10px 0;
        img {
          width: 100%;
          max-width: 100%;
          height: 150px;
          margin-bottom: 20px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .userProfile__main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 49px;
    &__title {
      width: 100%;
    }
    &__userDetails__headerImageBox {
      max-height: 120px;

      &__image{
        height: 120px;
      }
    }
    &__userDetails__userData__pp {
      top: -25px;
      &__userImageBox {
        width: 68px;
        height: 68px;
      }
    }
    &__userDetails__userData__userName {
      margin-top: -8px;
    }
  }
}

@media (min-width: 501px) and (max-width: 991px) {
  /* For tablet: */
  .userProfile__main {
    width: 75%;
    margin-left: 15%;
    &__title {
      width: 75%;
    }
    &__userDetails__userData__pp__userImageBox {
      width: 110px;
      height: 110px;
    }
    &__userDetails__userData__userName {
      margin-top: 8px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  /* For small lab: */
  .userProfile__main {
    width: 50%;
    margin-left: 10%;
    &__title {
      width: 50%;
    }
  }
}
