@import "../../style/CssVariables.scss";

.whoToAdd__spinner {
  .loader__box {
    margin-top: 0;
  }
}

.whoToAdd {
  &__title {
    h2 {
      font-size: 19px;
      font-weight: 800;
      padding: 0 10px 10px;
    }
  }
  &__usersBox {
    &__user {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 10px;

      &__leftSide {
        display: flex;
        flex-direction: row;
        /*width: calc(100% - 155px);*/

        &__userImageBox {
          width: 50px;
          height: 50px;
          min-width: 50px;
          max-width: 50px;
          border-radius: 50%;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      &__rightSide {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &__line1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &__userName {
            &:hover > p {
              text-decoration: none;
              text-underline-position: under;
            }

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 15px;
            margin-right: 5px;

            &__subName {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 400;
              font-size: 15px;
              margin: 0;
              margin-right: 5px;
              margin-top: -5px;
            }
          }
        }

        &__line2 {
          font-size: 15px;
          margin-top: 5px;
        }
      }
    }
  }
}
