@import "../../../style/CssVariables.scss";

.postButton {
  padding: 0 14px;
  height: 37px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  border-radius: $radius;

  &:focus {
    outline: 0;
  }
}

@media only screen and (max-width: 500px) {
}

@media (min-width: 501px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1280px) {
}
