@import "../../style/CssVariables";

.main-box {
  min-height: 100vh;
  width: 100%;
  z-index: 9999999999;
}

.main {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  .title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 23px;
  }

  #general-error {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo {
    text-align: center;
    margin-bottom: 35px;
    &__svg {
      width: 35px;
    }
  }

  .signUp {
    text-align: center;
    font-size: 15px;

    .signUp__link:hover {
      text-decoration: underline;
    }
  }
}

.form {
  padding: 0 15px;

  .form__inputBox {
    padding: 0 10px;
    padding-top: 3px;
    border-radius: 2px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  .form__inputBox__label {
    margin-bottom: 0;
    font-size: 15px;
  }

  .form__inputBox__input {
    background-color: transparent;
    padding: 0;
    border: 0;
    height: 30px;

    &:focus {
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
  }

  .form__button {
    width: 100%;
    height: 47px;
    font-weight: 700;
    margin-bottom: 30px;
    border-radius: $radius;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active {
      border-color: transparent;
    }
  }

  small {
    margin-bottom: 0.25rem;
  }
}
