@import "../../../style//CssVariables.scss";

.addFriend__button {
    padding: 0 14px;
    height: 37px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    border-radius: $radius;

    &:focus {
      outline: 0;
    }
}