@media (min-width: 501px) and (max-width: 991px) {
  .TabletNavBarNotAuth {
    position: relative;
    z-index: 999;
    &__main {
      height: 50px;
      width: 75%;
      margin-left:15%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.buttons__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .TabletNavBarNotAuth {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .TabletNavBarNotAuth {
    display: none;
  }
}
